@import './abstracts/variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: $font-family;
  background-color: $gray-50;
  color: $primary;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: $font-family;
}

// 메인 콘텐츠 영역 (사이드바 제외)
.main-content {
  transition: margin-left 0.3s ease, max-width 0.3s ease;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-s {
  bottom: 5px!important;
}